/* standard selectors */

body {
    margin: 0;
    border: 0;
    padding: 0;
}

.inline {
    display: inline;
}

.inlineblock {
    display: inline-block;
}

.block {
    display: block;
}

.flex {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1;
}

* {
    outline: 2px solid red;
}


/* end standard selectors */

body{
 width: 100%;
 border: 1px;
}

.allbutfooter {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 50px;
}

h1,
h2,
h3 {
    margin:0;
}

img {
    box-sizing: border-box;
}

.content > *,
.header,
.footer {
    padding-left: 15%;
    padding-right: 15%;
}

.section > * {;
    margin-bottom: 10px;
}

.contentbox {
    margin-top: 10px;
    border: 1px;
}

.contentbox > * {
    margin-top: 10px;
    margin-bottom: 10px;
}

.item {
    margin-top: 10px;
    margin-bottom: 10px;
}

.section.one .item {
    margin-left: 2%;
}

.header {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    display: flex;
    flex: 1;
    height: 50px ;
    align-items: center;
    background-color: rgb(0, 0, 153);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.header .links {
    margin-left: auto;
    display: flex;
    gap: 15px
}

.section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section.one{
    background-color: rgb(0, 0, 218);
    display: flex;
    flex: 1;
    flex-basis: 1;
}

.section.one > * {
    width:50%;
}

.section.two{
    background-color: rgb(71, 83, 255);
}

.imagerow {
    display: flex;
    flex: 1;
    gap:4%
}

.imagerow span >* {
    height: auto;
    width: 100%
}

.imagerow .item {
    border: 2px solid rgb(138, 237, 255);
    border-radius: 0.5em;
}

.section.three{
    background-color: rgb(106, 140, 255);
}

.quote {
    margin-left: 10%;
}

.quotename {
    text-align: right;
    margin-top: 10px;
}

.section.four{
    background-color: rgb(140, 167, 255);
}

#bottombutton {
    
}

.footer {
    margin: 0;
    padding: 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: rgb(173, 202, 255);
}
