/* standard selectors */

body {
    margin: 0;
    border: 0;
    padding: 0;
}

.inline {
    display: inline;
}

.inlineblock {
    display: inline-block;
}

.block {
    display: block;
}

.flex {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1;
}

/* * {
    outline: 2px solid red;
}

* {
    font-size: 18px;
}

/* end standard selectors */

body{
 width: 100%;
 border: 1px;
}

.maincontent {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 60px;
}

h1,
h2,
h3 {
    margin:0;
}

h1{
    font-weight: 800;
    color: #f9faf8;
    font-size: 48px;
}

h2 {
    color: #1F2937; 
    font-size: 36px;
    font-weight: 800;
   
}

h3 {
    font-weight: 600;
    color: #f9faf8;
    font-size: 30px;
}

img {
    box-sizing: border-box;
}

.content > *,
.header,
.footer {
    padding-left: 15%;
    padding-right: 15%;
}

.section > * {;
    margin-bottom: 10px;
}

.contentbox {
    margin-top: 10px;
    border: 1px;
}

.contentbox > * {
    margin-top: 10px;
    margin-bottom: 10px;
}

.item {
    margin-top: 10px;
    margin-bottom: 10px;
}

.section.one .item {
    margin-left: 2%;
}

.header {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    display: flex;
    flex: 1;
    min-height: 60px;
    align-items: center;
    background-color: #1f2937;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.header .links {
    flex-wrap: wrap;
    margin-left: auto;
    display: flex;
    gap: 15px
}

.header .links >* {
    color: #E5E7EB;
    font-size: 18px;  
    margin-left: auto;
}

.section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section.one{
    background-color: #1f2937;
    display: flex;
    flex: 1;
    flex-basis: 1;
}

.one .contentbox {
    font-size: 18px;
    color: #E5E7EB;
}

.section.one > * {
    width:50%;
}

.section.two{
    background-color: #f9faf8;
}

.two > * {
    text-align: center;
}

.imagerow {
    margin-top: 1.5%;
    display: flex;
    flex: 1;
    gap:4%
}

.imagerow span >* {
    height: auto;
    width: 100%
}

.imagerow .item {
    border: 2px solid rgb(138, 237, 255);
    border-radius: 0.5em;
}

.section.three{
    background-color: #e5e7eb;
}

.quote {
    margin-left: 10%;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quotename {
    text-align: right;
    margin-top: 10px;
    font-weight: 600;
    font-size: 23px;
}

.section.four{
    background-color: rgb(140, 167, 255);
}

#bottombutton {
    
}

button{
    background-color: #3882f6;
    border-radius: 0.4em;
    color: #E5E7EB;
    font-size: 17px;
}

.footer {
    margin: 0;
    padding: 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: rgb(173, 202, 255);
}
