/* standard selectors */

body {
    margin: 0;
    border: 0;
    padding: 0;
}

.inline {
    display: inline;
}

.inlineblock {
    display: inline-block;
}

.block {
    display: block;
}

.flex {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1;
}

* {
    outline: 2px solid red;
}


/* end standard selectors */

body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

h1,
h2,
h3 {
    margin:0;
}

.content > *,
.header,
.footer {
    padding-left: 15%;
    padding-right: 15%;
}

.header {
    display: flex;
    flex: 1;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 153);
    padding-top: 10px;
    padding-bottom: 10px;
}

.header .links > * {
    margin: 10px;
}

.section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.section.one{
    background-color: rgb(0, 0, 218);
}

.section.two{
    background-color: rgb(71, 83, 255);
}

.section.three{
    background-color: rgb(106, 140, 255);
}

.section.four{
    background-color: rgb(140, 167, 255);
}

.footer {

    text-align: center;
    background-color: rgb(173, 202, 255);
}
